*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* App */

.App{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
}

.App>span{
  font-size: 1.8rem;
  font-weight: 700;
}




/* Genre Filter Component */

.genreFilter{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #F1EFF1;
  padding: 0.8rem;
}

.genreButtonContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

button{
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #D6D5D6;
}

button:hover{
  background-color: #B7B5B7;
}



/* MoviesList Component */


.moviesList{
  border-collapse: collapse;
  width: 100%;
}

.moviesList td, .moviesList th{
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tbody tr:hover {
  background-color: #F1EFF1;
}

thead{
  background-color: #F1EFF1;
}






